.cache/
.config/
.docker/
.gemini/
.gsutil/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.npm/
.bash_history
.lastactive
iris_train.csv
iris_eval.csv
model.pkl
model_loaded.pkl
training_log.json
.env/
__pycache__/
*.pyc
*.joblib
feature_repo/__pycache__/
feature_repo/bq/data/
feature_repo/data/*.db
